@use "./mixin" as mixin;

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .generationContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid mixin.$dark;
    height: 40rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border-style: dashed;
    transition: 0.5s;

    &.bigger {
      height: 60rem;
    }

    .micBtn {
      background-color: mixin.$dark;
      width: 10rem;
      aspect-ratio: 1;
      border-radius: 50%;
      padding: 1rem;
      transition: 0.5s;

      &:active {
        background-color: mixin.$gray;
      }
    }

    .text {
      margin-top: 1rem;
      font-size: 2rem;
      width: 28rem;
      text-align: center;
      color: mixin.$dark;
    }

    .emojis {
      position: absolute;
      top: 7rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;

      .emoji {
        margin: 0 5rem;
        font-size: 3rem;
        background-color: mixin.$dark-gray;
        height: 5rem;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }

    .genFullStoryBtn {
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translate(-50%);
      font-size: 2rem;
      background-color: mixin.$gray;
      border-radius: 0.75rem;
      color: mixin.$dark;
      padding: 1.2rem;
      transition: 0.5s;

      &:active {
        background-color: mixin.$white;
      }
    }
  }
}

.storyPage {
  padding: 0 30rem;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 10rem;
  white-space: pre-wrap;
}
